<nav class="navbar navbar-inverse col-xs-12">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Flash Cards</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user %}
          <li><a href="/logout/"><span class="glyphicon glyphicon-user"></span> Logout {{ user.username }}</a></li>
      {% else %}
          <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      {% endif %}
    </ul>
</div>
</nav>
<!-- Flash messages -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
  {% endfor %}
{% endif %}
