<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Recover Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container loginMenu">
      <!-- TOP -->
      {% include "webapp/menu.html" %}
      <div class="row">
        <h1>Password Recovery</h1>
      </div>
      <div class="row">
        <p>Insert picture here</p>
        <a href="login.html">Back</a>
        <img src="{% static 'img/placeholderLogo.png' %}" class="img-rounded center-block logo">
      </div>
      <!-- MID -->
      <div class="row">
        <input type="text" name="userName" placeholder="Username...">
      </div>
      <div class="row">
        <button name="emailCode" type="button" value="" class="btn btn-default">Send code to Email</button>
      </div>
      <div class="row">
        <button name="phoneCode" type="button" value="" class="btn btn-default">Send code to Phone</button>
      </div>
      <div class="row">
        <input type="text" name="code" placeholder="Enter Code">
      </div>
      <div class="row">
        <button name="verifyCode" type="button" value="" class="btn btn-primary">Verify</button>
      </div>
    </div>
  </body>
</html>
